app/storage/
bootstrap/compiled.php

public/storage
public/hot
public/build
public/uploads/
public/images/ext/

storage/*.key
/storage/pail

vendor/
node_modules/

.env
.env.example
composer.lock

*.zip
*.rar
*.log

